// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boardindexpage{
display: grid;
width:inherit;
margin-left: 30px;

}

.boardinfor1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 3px;
}

.boardindexpage li{
  list-style: none;
  // background: blue;
}

.boardinfo12{
  position: relative;
  margin-top: 210px;
  text-align: left;
  color: #555;
  font-size: 18px;
  max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-weight: 700;
line-height: 1.2;
letter-spacing: -.4px;
font-family: 'Roboto'
}

.boardinfo123{
  padding-right: 20px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-right: 20px;
  height: 200px;
  width: 301px;
  margin-bottom: 40px;

}

.boards22{
  color: #555;
  position: absolute;
  left: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -.4px;
  font-family: 'Roboto';
}
#addboard{
  display: flex;
  background-color: #bd081c;
  background-size: contain;
  box-shadow: 0 0 0px 10px #bd081c;
  border-radius: 50%;
  color: #efefef;
  width: 20px;
  height: 20px;
  // position: relative;
  // // left: 150px;
  // top: 90px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align:center;
}



.boardinfo123:hover{
  border-radius: 8px;
  cursor: zoom-in;
  box-shadow: 0 0 0px 5px #f1f1f1;
}

#CreateBoardForm{
  background: white;
  height: 290px;
  width: 600px;
  position: absolute;
  top: -300px;
  right: -340px;
  border-radius: 15px;
}

#EditBoardForm{
  background: white;
  height: 290px;
  width: 600px;
  position: absolute;
  top: -300px;
  right: -340px;
  border-radius: 15px;
}

.boardtitle1{
  color: red;
  position: relative;
  left: 100px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;

}

.boardtitle1 input{
  margin-top: 5px;
  padding: 5px;
  margin-left: 40px;
  width: 40%;
  height: 30px;
  font-family: 'Roboto';
  color: #555;
  border-radius: 3px;
}

.submit-create-button12{
  position: absolute;
  align-content: center;
  left: 500px;
  top: 240px;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  padding: 10px;
  border-radius: 3px;
  // box-shadow: 0 0 0px 5px red;
}

.submit-cancel-button1{
  border: none;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  position: absolute;
  top: 242px;
  left: 410px;
  padding: 10px;
  border-radius: 3px;
}

.submit-delete-button12{
  border: none;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  position: absolute;
  top: 242px;
  left: 20px;
  padding: 10px;
  border-radius: 3px;
}

.pins-in-board-thumbnail-pic {
  width: 50px;
  max-height: 80px;
  border-radius: 10px;
  margin: 2px;
  border: 1px solid lightgray;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.profile-boards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  flex-direction: row;
  margin-bottom: 100px;
  margin-top:30px;
}

.user-profile-items {
  position: relative;
  background-color: transparent;
  width: 100vw;
  z-index: 1;
}

.board-index-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid #f1f1f1;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  width: 240px;
  height: 240px;
  color: #555;
  background: #f1f1f1;
}

.board-index-item-container:hover{
  // background: lightgray;
  // border: 3px solid #f1f1f1;
  // border-radius: 10px;
  // background-size: 110% 110%;
  cursor: pointer;

  box-shadow: 0 0 0px 10px #f1f1f1;
}

.title12345{
  margin-bottom: 5px;
  font-family: "Roboto";
}
