// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boardindexpage{
display: grid;
width:inherit;

}

.boardinfor1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  align-items: center;
  padding: 3px;
}

.boardindexpage li{
  list-style: none;
  // background: blue;
}

.boardinfo12{
  position: relative;
  margin-top: 210px;
  text-align: left;
  color: #555;
  font-size: 18px;
  max-width: 100%;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-weight: 700;
line-height: 1.2;
letter-spacing: -.4px;
font-family: 'Roboto'
}

.boardinfo123{
  padding-right: 20px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-right: 20px;
  height: 200px;
  width: 301px;
  margin-bottom: 40px;

}


#addboard{
  background-color: #bd081c;
  background-size: contain;
  box-shadow: 0 0 0px 10px #bd081c;
  border-radius: 50%;
  color: #efefef;
  width: 20px;
  height: 20px;
  position: relative;
  left: 150px;
  top: 90px;
  margin: auto;
  text-align:center;
}



.boardinfo123:hover{
  border-radius: 8px;
  cursor: zoom-in;
  box-shadow: 0 0 0px 5px #f1f1f1;
}

#CreateBoardForm{
  background: white;
  height: 290px;
  width: 600px;
  position: absolute;
  top: -300px;
  right: -340px;
  border-radius: 15px;
}

.boardtitle1{
  color: red;
  position: relative;
  left: 100px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;

}

.boardtitle1 input{
  margin-top: 5px;
  padding: 5px;
  margin-left: 40px;
  width: 40%;
  height: 30px;
}

.submit-create-button12{
  position: absolute;
  align-content: center;
  left: 500px;
  top: 250px;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  // box-shadow: 0 0 0px 5px red;
}

.submit-cancel-button1{
  border: none;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  position: absolute;
  top: 252px;
  left: 410px;
}
