.header-group{
  border-bottom: 1px solid lightgray;
  display: flex;
  box-sizing: border-box;
  margin: 20px;
  width:inherit;
}

.header-group ul li{
  display: inline;
  padding-right: 20px;
}

.search i{
  position: relative;
  bottom: 0px;
  right: 900px;
  color:lightgray;
}

.searchbar{
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    position: relative;
    padding: 0 40px 0 52px;
    width: 900px;
    bottom: 1px;
    left: 10px;
    text-transform: none;
}

.nav_link{
  position: relative;
  right: 10px;
}

.profile-link {
  display: inline;
  position: relative;
  right: 20px;
  top: 0px;
}

.profile-link:hover{
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0px 10px #f1f1f1;
  border-radius: 25px;
}

.header-button:hover{
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0px 5px #f1f1f1;
  border-radius: 25px;
}


.userimg i{
  position: relative;
  bottom: 2%;
  color:lightgray;
  color: #3477e5;
  background-color: #b0c9f2;
  border: 4px solid #b0c9f2;
  border-radius: 100%;
}

.userimg img{
  position: relative;
  background: #f1f1f1;
  /* border: 1px solid lightgray; */
  border-radius: 100%;
}

.header-button{
  color: #555;
  position: relative;
  bottom: 0px;
  right: 30px;
  /* margin-left: 43%; */
  font-size: 15px;
  font-family: sans-serif;
  cursor: pointer;
  background-color: white;
  border: 0px;
  height: 36px;
  border-radius: 4px;
}

.nav_link{
  color: #555;
  text-decoration: none;
}



.header-group ul li img{
  position:relative;
  left: 0px;
  height: 40px;
  width: 40px;
  top:16px;
}
