// Place all the styles related to the pegs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.saveform{
  // background: red;
  width: 600px;
  height: 660px;
  margin: 0 auto;
  border: 1px solid gray;
  background: white;
}

.outeraddpeg{
  position: absolute;
  border-radius: 10px;
  margin-top: 30px;
  background-color: lightgray;
  width: 230px;
  height: 180px;
}

#addpeg{
  background-color: #bd081c;
  background-size: contain;
  box-shadow: 0 0 0px 10px #bd081c;
  border-radius: 50%;
  color: #efefef;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 110px;
  top: 80px;
  margin: auto;
  text-align:center;
}

.outeraddpeg:hover{
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  // background-size: 110% 110%;
  cursor: zoom-in;
  box-shadow: 0 0 0px 10px #f1f1f1;
}

.saveform li{
  list-style-type: none;
  display: inline;
}

.saveform h3{
  font-family: Helvetica, sans-serif;
  color: #555;
  text-align: center;
    font-size: 21px;
    letter-spacing: -.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: 700;
}

.saveform button{
  left: 20px;
}

.saveform img{
  height: 400px;
  width: 258px;
  position: absolute;
  right: 260px;
  top: 150px;
  border-radius: 25px;
  border: 2px solid white;
}


.create-peg-container li img{
  width: 230px;
  max-height: 500px;
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}


.create-peg-container li:hover {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  background-size: 110% 110%;
  cursor: zoom-in;
  box-shadow: 0 0 0px 5px #f1f1f1;
}

.masonry{
  width: 236px;
}

.create-peg-container li span{
  font-family: 'Roboto';
  color: #555;
}


#thumbtack {
background-color: #bd081c;
background-size: contain;
box-shadow: 0 0 0px 10px #bd081c;
color: #efefef;
text-align: center;
font-size: 14px;
width: 20px;
height: 10px;
position: relative;
left: 200px;
top: 50px;
opacity: 0;
// visibility: hidden;
}

// #thumbtack:hover{
//   opacity: 1;
// }


.save{
  display: inline;
}


.create-peg-container li{
  list-style-type: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
  width : 300px;
}


.pegs-index{
  display: grid;
  // width: 100px;
}

.peg-show{
  position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 300px;
  padding-right: 40px;
  background: white;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 25px;
  height: 650px;
  width: 40%;
  text-overflow:clip;
  font-family: Helvetica, sans-serif;
}

.peg-show li{
  list-style-type: none;
  position: absolute;
  word-wrap: break-word;
  // left: 50px;
}

.title{
  top: 20px;
  // text-align: center;
  font-family: Helvetica, sans-serif;
  color: #555;
  text-align: center;
    font-size: 21px;
    letter-spacing: -.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: 700;
}
.author{
  top: 600px;
  left: 60px;
  word-wrap: break-word;
  font-family: Helvetica;
  color: #211922;
  left: 100px;

}



.author span{
  font-weight: 700;
}

.peg-show li img{
  height: 500px;
  width: 558px;
  position: relative;
  left: -70;
  top: 70px;
  border-radius: 25px;
  border: 2px solid white;
}

.divshow{
  background: #EEEEEE;
  height: 900px;

}

.link{
  position: absolute;
  bottom: 540px;
  left: 200px;
  font-family: 'Roboto' ;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-size: 18px;
}



.link:hover{
  background-color: lightgray;
  border: 1px solid lightgray;
  box-shadow: 0 0 0px 5px #lightgray;
  border-radius: 15px;
  background-size: 120% 120%;
}

.link Link{
  color: #555;
  font-family: 'Roboto';
}

.savebutton{
  height: 43px;
  cursor: pointer;
  position: relative;
  width: 80.64px;
  left: 800px;
  top: 110px;
  z-index: 7;
}

.editbutton{
  height: 18.34px;
  cursor: pointer;
  position: absolute;
  width: 18.34px;
  left: 910px;
  top: 220px;
  z-index: 7;
  // background: white;
}

.editbutton:hover{
  background: #f1f1f1;
  box-shadow: inset 0 0 10px #f1f1f1;
  border-radius: 50%;
}

.addItem {
  position: fixed;
  z-index: 5;
  float: right;
  bottom: 50px;
  right: 50px;
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.addItem:hover {
  filter: brightness(90%);
}

#CreatePegForm{
  background: white;
  height: 600px;
  width: 700px;
  position: absolute;
  top: -300px;
  right: -340px;
  border-radius: 15px;
}

.close-modal{
  position: absolute;
  right: 20px;
  top: 10px;
  color: #b5b5b5;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 21px;
}

.create-peg-header{
  font-family: 'Roboto';
  color: #555;
  text-align: center;
    font-size: 21px;
    letter-spacing: -.4px;
    line-height: 1.2;
    word-spacing: -1.3px;
    font-weight: 700;
    position: relative;
    right: 15px;
    top: 10px;

}

.create-peg-header-outer{
  border-bottom: 1px solid #f1f1f1;
  height: 50;
}


.dropzone-text-container{
  font-family: 'Roboto';
  color: #555;
  text-align: center;
    font-size: 16px;
    letter-spacing: -.4px;
    line-height: 1.2;
    word-spacing: -1.3px;
    font-weight: 700;
    position: relative;
    top: 40%;
    word-wrap: break-word;
}




.website{
  color: red;
  position: relative;
  left: 400px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;
}

.website input{
  margin-top: 5px;
  width: 40%;
  height: 30px;
}

.titleform{
  position: relative;
  color: red;
  left: 400px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;
}

.titleform input{
  margin-top: 5px;
  width: 40%;
  height: 30px;
}

.formdescp{
  position: relative;
  left: 400px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;
}

.formdescp textarea{
  margin-top: 5px;
  width: 40%;
  height: 166px;
  color: #f1f1f1;
}



.dropzone{
  // background: red;
  position: absolute;
  height: 367px;
  width: 30%;
  left: 10%;
  border-radius: 15px;
  border: 1px dashed lightgray;
  position: relative;
  top: -350px;
}

.submit-create-button{
  position: absolute;
  align-content: center;
  left: 620px;
  top: 550px;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: white;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: red;
  // box-shadow: 0 0 0px 5px red;
}

.picturethumbnail{
  top: 60px;
}


.pencil{
  color: red;
}
