// Place all the styles related to the pegs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  // <i class="fas fa-thumbtack" className="peg-save-modal" ></i>

.saveform{
  // background: red;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
}

.outeraddpeg{
  position: absolute;
  border-radius: 10px;
  margin-top: 34px;
  background-color: lightgray;
  width: 230px;
  height: 180px;
}

#addpeg{
  background-color: #bd081c;
  background-size: contain;
  box-shadow: 0 0 0px 10px #bd081c;
  border-radius: 50%;
  color: #efefef;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 110px;
  top: 80px;
  margin: auto;
  text-align:center;
}

.outeraddpeg:hover{
  background: lightgray;
  // border: 3px solid #f1f1f1;
  // border-radius: 10px;
  // background-size: 110% 110%;
  cursor: zoom-in;
  box-shadow: 0 0 0px 10px #f1f1f1;
}

.saveform li{
  list-style-type: none;
  display: block;
}

.superheader{
  border-bottom: 1px solid #f1f1f1;
}

.superimg{
  border-right: 1px solid #f1f1f1;
  width: 60%;
  height: 85%;

}

.boardinfo1234{
  // display: flex;

  position: relative;
  bottom: 200px;
  left: 380px;
  // z-index: 10;
}

.boardinfo1234 span{
  margin-left: 30px;
  font-family: Helvetica, sans-serif;
  color: #555;
  text-align: right;
    font-size: 14px;
    letter-spacing: -.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: 700;
}

#addboard11{
  background-color: #bd081c;
  background-size: contain;
  box-shadow: 0 0 0px 10px #bd081c;
  border-radius: 50%;
  color: #efefef;
  width: 20px;
  height: 20px;
  // position: relative;
  // left: 150px;
  // top: 90px;
  // margin: auto;
  text-align:center;
}

.saveform img{
  max-height: 250px;
  width: 250px;
  margin-left: 49px;
  margin-top: 56px;
  // margin-top: 15px;
  // position: absolute;
  // right: 260px;
  // top: 150px;
  border-radius: 8px;
  border: 2px solid white;
}

.superboard{
  display: flex;
  flex-direction: column;
  // background: red;
  position: relative;
  bottom: 400px;
  left: 330px;
}

.superboard li{
  padding: 0;
  border: none;
  background: none;
  color: #555;
  padding-top: 7px;
  word-wrap: break-word;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.4px;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.saveform h3{
  font-family: Helvetica, sans-serif;
  color: #555;
  text-align: right;
    font-size: 21px;
    letter-spacing: -.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: 700;
    padding-right: 100px;
    -webkit-font-smoothing: antialiased;

}






.create-peg-container div img{
  width: 230px;
  max-height: 500px;
  margin-top: -1px;
  padding-bottom: 3px;
  border-radius: 8px;
  border: lightgray;
}


.masonry:hover {
  cursor: zoom-in;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  margin: -10px;
  height: 60%;
  width:100%;
  // margin-bottom: 10px;
  // box-shadow: 0px 0px 0px 6px #f1f1f1;
  // transition: box-shadow 0.5s linear;
}



.index-image:hover div.peg-save{
  opacity: 1;
}



div.peg-save {
  font-size: 14px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  background-color: #bd081c;
  position: relative;
  left: 150px;
  top: 42px;
  color: white;
  width: 70px;
  text-align: center;
  height: 25px;
  padding-top: 11px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
}



// .fa-thumbtack {
// background-color: #bd081c;
// background-size: contain;
// box-shadow: 0 0 0px 10px #bd081c;
// color: #efefef;
// text-align: left;
// font-size: 14px;
// width: 40px;
// height: 10px;
// position: relative;
// left: 170px;
// top: 48px;
// cursor: pointer;
//
// // border-radius: 1em;
// // opacity: 0;
// // visibility: hidden;
// }


.masonry{
  width: 236px;
}

.create-peg-container div span{
  font-family: 'Roboto';
  margin-left: 10px;
  color: #555;
  font-size: 14px;
  hyphens: auto;
  word-wrap: break-word;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.4px;
}

.profilelogout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save{
  display: inline;
}


.create-peg-container li{
  list-style-type: none;
  padding-bottom: 8px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
  width : 300px;
}


.pegs-index{
  display: grid;
  // width: 100px;
}

.peg-show{
  display: flex;

  // position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 300px;
  padding-right: 40px;
  background: white;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 25px;
  height: 650px;
  width: 40%;
  text-overflow:clip;
  font-family: Helvetica, sans-serif;
}

.peg-show li{
  list-style-type: none;
  position: absolute;
  word-wrap: break-word;
  // left: 50px;
}

.userimg123 img{
  position: relative;
  background: #f1f1f1;
  /* border: 1px solid lightgray; */
  border-radius: 100%;
  height: 40px;
  width: 40px;
  right: 320%;
  top: 30px;
}

.title{
  // top: 20px;
  // text-align: center;
  font-family: Helvetica, sans-serif;
  color: #555;
  text-align: center;
    font-size: 21px;
    letter-spacing: -.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: 700;
    // position: relative;
    top: 50%;

}
.author{
  top: 600px;
  left: 60px;
  word-wrap: break-word;
  font-family: Helvetica;
  color: #211922;
  margin-top: 15%;

}



.author span{
  font-weight: 700;
}



.box101{
  display: flex;
  flex-direction: column;
  align-items: center;
  float:none;
  height: 70vh;
  width: 50vw;

  top: 100px;


  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  text-overflow:clip;
  font-family: Helvetica, sans-serif;

}

.image101{
  display: inline-block;
    vertical-align: top;
  max-height: 50vh;
  width: 40vw;

  margin-top: -10px;
  // margin-left: 10px;
  // top: 10%;
  right: 60%;
  border-radius: 8px;
  border: 2px solid white;

}
.divshow{
  background: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;

}

.saveedit101{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  // padding: 10px;
}

.author102{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // top: 600px;
  right: 10px;
  // word-wrap: break-word;
  font-family: Helvetica;
  color: #211922;
  // position: relative;
  top: 10%;
  // width: 100%;
  // background: red;

}


.savebutton{
  height: 43px;
  cursor: pointer;
  position: relative;
  width: 80.64px;
  // left: 300px;
  // top: 5px;
  // left: 190px;
  z-index: 7;
}

.editbutton1011{
  display: flex;
  margin-left: 10px;
  margin-top: -20px;
  // bottom: 210px;
}

.divshowmodal{}

.title102{
  display: flex;
  // top: 20px;
  // text-align: center;
  font-family: Helvetica, sans-serif;
  color: #555;
  text-align: center;
    font-size: 21px;
    letter-spacing: -.3px;
    line-height: 23px;
    word-spacing: -1.3px;
    font-weight: 700;
    position: relative;
    left: 10%;
    bottom: 5%;

    // right: 0%;
    width: 100%;
}

.savebutton1011{
  display: flex;
  margin-right: 10px;
}

.link{
  position: absolute;
  bottom: 540px;
  left: 200px;
  font-family: 'Roboto' ;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-size: 18px;
}



.link:hover{

  border: 1px solid lightgray;
  box-shadow: 0 0 0px 5px #lightgray;
  border-radius: 15px;
  background-size: 120% 120%;
  background-color: rgba(0, 0, 0, 0.15);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

.link Link{
  color: #555;
  font-family: 'Roboto';
}



.editbutton{
  height: 18.34px;
  cursor: pointer;
  position: absolute;
  width: 18.34px;
  // left: 880px;
  // top: 220px;
  z-index: 7;
  // background: white;
}

.editbutton:hover{
  background: #f1f1f1;
  box-shadow: inset 0 0 10px #f1f1f1;
  border-radius: 50%;
}

.addItem {
  position: fixed;
  z-index: 5;
  float: right;
  bottom: 50px;
  right: 50px;
  width: 39px;
  height: 39px;
  cursor: pointer;
}

.addItem:hover {
  filter: brightness(90%);
}

#CreatePegForm{
  background: white;
  height: 600px;
  width: 700px;
  position: absolute;
  top: -300px;
  right: -340px;
  border-radius: 15px;
}

.close-modal{
  position: absolute;
  right: 20px;
  top: 10px;
  color: #b5b5b5;
  cursor: pointer;
  font-family: Helvetica;
  font-size: 21px;
}

.create-peg-header{
  font-family: 'Roboto';
  color: #555;
  text-align: center;
    font-size: 21px;
    letter-spacing: -.4px;
    line-height: 1.2;
    word-spacing: -1.3px;
    font-weight: 700;
    position: relative;
    right: 15px;
    top: 10px;

}

.create-peg-header-outer{
  border-bottom: 1px solid #f1f1f1;
  height: 50;
}


.dropzone-text-container{
  font-family: 'Roboto';
  color: #555;
  text-align: center;
    font-size: 16px;
    letter-spacing: -.4px;
    line-height: 1.2;
    word-spacing: -1.3px;
    font-weight: 700;
    position: relative;
    top: 40%;
    word-wrap: break-word;
}




.website{
  color: red;
  position: relative;
  left: 400px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;
}

.website input{
  margin-top: 5px;
  width: 40%;
  height: 30px;
}

.titleform{
  position: relative;
  color: red;
  left: 400px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;
}

.titleform input{
  margin-top: 5px;
  width: 40%;
  height: 30px;
}

.formdescp{
  position: relative;
  left: 400px;
  font-family: 'Roboto';
  color: #555;
  text-align: center;
  font-size: 16px;
  letter-spacing: -.4px;
  line-height: 1.2;
  word-spacing: -1.3px;
}

.formdescp textarea{
  margin-top: 5px;
  width: 40%;
  height: 166px;
  color: #f1f1f1;
}



.dropzone{
  // background: red;
  position: absolute;
  height: 367px;
  width: 30%;
  left: 10%;
  border-radius: 15px;
  border: 1px dashed lightgray;
  position: relative;
  top: -350px;
}

.submit-create-button{
  position: absolute;
  align-content: center;
  left: 620px;
  top: 550px;
  border: none;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  // box-shadow: 0 0 0px 5px red;
}

.picturethumbnail{
  top: 60px;
}


.pencil{
  color: red;
}


.edit-peg-form{
  background: white;
  height: 600px;
  width: 700px;
  position: absolute;
  top: -300px;
  right: -340px;
  border-radius: 15px;
}

.edit-peg-header-outer{
  border-bottom: 1px solid lightgray;
}

.edit-peg-header{
  margin-left: 30px;
}

.thumbnail{
  margin-left: 10px;
  position: absolute;
  bottom: 280px;
  left: 20px;
  padding-top: 20px;
}

.editform12{
  padding-top: 20px;
  margin-right:10px;
  border-radius: 15px;
}

.submits123{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 550px;

}


.submit-edit-button{

  border: none;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  position: relative;
  bottom: 20px;
}

.submit-cancel-button{
  border: none;
  line-height: 1.2;
  letter-spacing: -.4px;
  color: #555;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: lightgray;
  font-weight: 700;
  position: relative;
  left: 5px;
  bottom: 20px;
}

.submits123 li{
  list-style: none;
}

.boardpeg34{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 40px;
  margin-left: 550px;
  justify-content: center;
  align-items: left;
  height: 5px;
}

.val12{
  margin-left: 5px
}

.boardpeg34 h3{
  color: #555;
  font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.25px;
    line-height: 42px;
    word-spacing: -2.25px;
    width: 75%;
    max-width: 860px;
}
