// Place all the styles related to the pegs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create-item-container li img{
  width: 236px;
  max-height: 500px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.create-item-container li div{
  // position: relative;
  width: 236px;
}


.create-item-container li{
  list-style-type: none;

}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
  width : 300px;
}


.pegs-index{
  display: grid;
  // width: 100px;
}
